* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(rgb(16, 23, 16), rgb(70, 68, 68));
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.header {
  width: 100%;
  height: 4rem;
  background-color: #0000003f;
  display: flex;
  align-items: center;
  justify-content: center;
  .logo {
    width: 100%;
    height: 100%;
    a {
      height: 100%;
      img {
        height: 100%;
      }
    }
  }
  .links {
    display: flex;
    align-items: center;
    padding-right: 5px;
    a {
      color: white;
      font-family: sans-serif;
      font-size: 1.2rem;
      text-decoration: none;
      margin-left: 10px;
    }
  }
}
