* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(rgb(16, 23, 16), rgb(70, 68, 68));
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
.header {
  width: 100%;
  height: 100px;
  background-color: #0000003f;
}
